
header {
    background-color: black;
    color: white;
}

.container {
    font-family: 'Raleway', Arial, sans-serif;
    max-width: 1080px;
    margin: 0 auto;
}

.title {
    display: inline-block;
    font-size: 14px;
    padding: 10px 0 10px 0;
}

nav {
    display: inline-block;
    margin-right: 0;
}



.title > span {
    font-weight: 900;
    color: #3dd0b6;
}

.menu {
    margin-left: 590px;
    margin-right: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu > li {
    display: inline-block;
    line-height: 40px;
    width: 120px;
}

.submenu {
    position: absolute;
    width: 150px;
    right: 10px;
    padding-top: 10px;
    display: none;
    line-height: 30px;
    text-align: left;
}


.menuList {
    font-weight: bold;
    text-align: right;
    position: relative;

}

li:hover>.submenu {
    display:block;
}

.submenu::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    height: 0;
    width: 0;
    margin: 0 auto;
    top: -10px;
    left: 70px;
}

.submenu li {
    background-color: black;
    padding: 5px;
}


ul > .menuList:last-child {
    margin-right: 0;
}

.gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(240,240,240,1) 78%, rgba(232,232,232,1) 84%, rgba(232,232,232,1) 90%, rgba(219,219,219,1) 100%);
                -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(240,240,240,1) 78%, rgba(232,232,232,1) 84%, rgba(232,232,232,1) 90%, rgba(219,219,219,1) 100%);
}


.blackChair {
    display: inline-block;
    height: 430px;
    padding: 0;
    position: relative;
    width: 50%;
    margin-top: 60px;
}

.arrowLeft {
    font-size: 65px;
    color: #3dd0b6;
    margin-left: 5%;
    margin-top: 200px;
    position: absolute;
}

.position {
    position: relative;
}

.arrowRight {
    display: inline-block;
    font-size: 65px;
    color: #3dd0b6;
    margin-top: 200px;
    margin-left: 90%;
    position: absolute;
}


.sectionTitle {
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    width: 45%;
    text-align: center;
    margin-left: -75px;
    margin-top: 120px;
    position: absolute;
}

.sectionTitle > span {
    color: #3dd0b6;
    font-weight: bold;

}

.description {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-transform: lowercase;
    text-align: center;
    word-spacing: 3px;
    padding: 40px 40px 20px 40px;
    color: #3f3f3f;
}

.more {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #3dd0b6;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    position: relative;
    text-decoration: none;
}


.chairModels {
    background-color: white;
    padding: 30px 70px 70px 70px;
}

.claire {
    display: inline-block;
    width: 31%;
    margin-right: 2%;
    position: relative;
}

.line {
    margin-top: -40px;
    position: absolute;
    margin-left: 10px;
}

.firstChair {
    display: inline-block;
    background-color: rgba(255,255,255,.3);
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: -70px;
    font-weight: bold;
    padding: 10px;
    color: #3f3f3f;

}

.child {
    display: inline-block;
    width: 31%;
    margin-right: 2%;
    position: relative;

}

.baby {
    display: inline-block;
    background-color: rgba(255,255,255,.3);
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: -70px;
    font-weight: bold;
    padding: 10px;
    color: #3f3f3f;
}

.text {
    display: inline-block;
    width: 31%;
    border: 1px solid lightgrey;
    height: 250px;
    padding: 20px 10px 10px 10px;
}

h2 {
    font-weight: bold;
    color: #3f3f3f;

}

hr {
    height: 6px;
    background: #3dd0b6;
    border: 0;
    margin: 2px 2px 12px 0;
    width: 140px;
}

.text > p {
    font-size: 14px;
    font-weight: 200;
}


.box {
    border: 2px solid black;
    height: 500px;
    width: 30%;
    margin-top: 100px;
    position: absolute;
    border-radius: 3px;
    background-color: white;
}

.box2 {
    position: absolute;
    border: 2px solid #3dd0b6;
    height: 500px;
    margin-top: 100px;
    margin-left: 330px;
    width: 30%;
    border-radius: 3px;
    background-color: #3dd0b6;

}

.circle {
    border: 2px solid black;
    height: 60px;
    width: 60px;
    margin-top: -46px;
    margin-left: 128px;
    border-radius: 50px;
    position: absolute;
    background-color: white;
}

.blackDot {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin-top: 13px;
    margin-left: 13px;
    border-radius: 50px;
    position: absolute;
    background-color: black;
}

.emptyDot {
    border: 2px solid black;
    height: 126px;
    width: 126px;
    margin-top: 98px;
    margin-left: -50px;
    border-radius: 70px;
    position: absolute;
    background-color: transparent;

}

.priceList {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
}
.box1 {
    padding: 50px;
    position: relative;
}


.longLine {
    width: 300px;
}

.plans {
    text-transform: uppercase;
    color: #3dd0b6;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}

.price {
    font-size: 46px;
    text-align: center;
    margin-top: 42px;
}

sup {
    font-size: 14px;
    top: -2em;
}

.box > p  {
    text-align: center;
}

.buy {
    margin-top: 70px;
    background-color: #e3e3e3;
}

.service {
    background-color: #f1f1f1;
}

.format {
    font-size: 25px;
    padding: 8px;
}


.join {
    background-color: #3dd0b6;
    padding: 8px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 120px;
    margin-left: 100px;
}


.box2 > p  {
    text-align: center;
}

.circleColor {
    background-color: #3dd0b6;
    border-color: #3dd0b6;
}

.borderDot {
    border-color: white;
}

.guarantee {
    background-color: white;
}

.joinColor {
    color: #3dd0b6;
    background-color: white;
    margin-top: 80px;
}

.plansColor {
    color: white;
}


.box3 {
    position: absolute;
    border: 2px solid black;
    height: 500px;
    margin-top: 100px;
    margin-left: 660px;
    width: 30%;
    border-radius: 3px;
    background-color: white;

}

.box3 > p {
    text-align: center;
}

.guarantee2 {
    background-color: #e3e3e3;
}

.joinUs {
    margin-top: 30px;
}

.bigBox {
    height: 760px;
    background-color: #F2F2F2;
}

.formula {
    height: 500px;
}

.register {
    display: inline-block;
    width: 70%;
    border: 1px solid red;
    height: 500px;
    padding: 20px 40px;
    position: relative;
}

textarea {
    font-family: 'Raleway', Arial, sans-serif;
    resize: none;
    border-color: #3dd0b6;
    padding: 10px 5px;
    margin-top: 30px;
    font-size: 24px;
    opacity: 0.5;

}
input {
    font-family: 'Raleway', Arial, sans-serif;
    display: block;
    border: 1px solid  #3dd0b6;
    padding: 10px 348px 10px 5px;
    margin-top: 30px;
    font-size: 24px;
    opacity: 0.5;
}

.submit {
    position: absolute;
    display: inline-block;
    border: 1px solid red;
    height: 500px;
    width: 25%;
}

.agree {
    display: block;
    border: 1px solid #3dd0b6;
    padding: 5px 2px;
    margin-left: 20px;
}

.redChair {
    margin-top: 50px;
}

.agreement {
    float: right;
    display: block;
    border: 1px solid red;
    width: 75%;
    opacity: 0.5;
    margin-top: -45px;

}

.send {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #3dd0b6;
    padding: 15px 100px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}

footer {
    border: 1px solid red;
    padding: 10px;
}

.copyright {
    display: inline-block;
    opacity: 0.5;
    border: 1px solid red;
    width: 50%;
}

.signs {
    display: inline-block;
    width: 48%;
    border: 1px solid red;
}

.footerLogo > span {
    font-weight: bold;

}

.footerLogo {
    display: inline-block;
    opacity: 0.5;
    margin-left: 230px;
}


